{% extends 'base.html' %}
{% load static %}

    {% block content %}
     <!-- About Start -->
     
     <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="media/product/logo.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    
                    <p class="mb-4">At Foodify , we pride ourselves on being a dynamic and agile team. We understand the importance of flexibility and adaptability in today's fast-paced business environment, and we strive to deliver results that meet and exceed the expectations of our clients.</p>
                    <p>Our team is made up of a diverse group of individuals with a wide range of skills, including designers, developers, and project managers. We work together in a cooperative and collaborative manner, utilizing agile methodologies such as Scrum and Kanban to manage our projects and prioritize tasks.</p>
                    <p>Our approach to web development is centered around the needs of our clients, and we are dedicated to ensuring that every aspect of our work aligns with their goals and objectives. We communicate regularly and openly, and we welcome feedback and changes as they arise.</p>
                    <p>We strive to deliver innovative and high-quality results, and we are committed to building long-term relationships with our clients. If you're looking for a team that will work with you to achieve your goals, look no further than Foodify.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <div style="border-top: 2px solid #9055A2;"></div> 
    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3"><br>Our team</h1>
                <p></p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/chaimaa.jpg" alt="">
                        <h4 class="mb-3">Chaïmaa KOUNNICHI</h4>
                        <p class="mb-4">Developper - Designer</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/yasser.jpg" alt="">
                        <h4 class="mb-3">Yasser JAHDANI</h4>
                        <p class="mb-4">Supply Chain Manager</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/sohaib.jpg" alt="">
                        <h4 class="mb-3">Sohaib KOTBI</h4>
                        <p class="mb-4">Research & Development</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/mohammed.jpg" alt="">
                        <h4 class="mb-3">Mohammed LAZRAQ</h4>
                        <p class="mb-4">SCRUM Master- Sales Manager</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/majda.jpg" alt="">
                        <h4 class="mb-3">Majda MAZRI</h4>
                        <p class="mb-4">Product Owner</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.11s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="media/product/download.jpg" alt="">
                        <h4 class="mb-3">Chakib AMRI</h4>
                        <p class="mb-4">Product Owner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="border-top: 3px solid #9055A2;"></div> 
    <!-- Feature End --> 
    {% endblock content %}