{% extends 'base.html' %}
{% load static %}

    {% block content %}
     <!-- About Start -->
     
     <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="media/product/logo.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">What are the ingredients in your products and are they all natural?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Our products are made with all-natural ingredients, such as nuts, seeds, fruits, and whole grains. We strive to use the highest quality ingredients and avoid artificial preservatives and sweeteners.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">How do I place an order for delivery?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>You can place an order on our website by browsing through our products and adding them to your cart. Once you have completed your order, you can proceed to checkout and enter your shipping information.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">How long will it take for my order to arrive?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Delivery times vary depending on your location, but most orders are delivered within 15 to 30 min after order confirmation.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">How should I store my bars, smoothies, or shakers?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Our bars and smoothies should be stored in a cool, dry place and consumed within a certain period of time. Our shakers should be stored in a cool, dry place.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">Are your products suitable for people with food allergies?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Some of our products may contain common allergens, such as nuts or gluten. We recommend checking the ingredient list before making a purchase.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">How long do your products stay fresh?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Our bars and smoothies have a shelf life of several weeks, while our shakers have a shelf life of several months.</p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color: rgb(144, 85, 162);">Are your products suitable for people following a specific diet, such as vegan or gluten-free?</span></strong></p>
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>We offer a variety of products that are suitable for different dietary needs, including vegan and gluten-free options.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}