<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="/contact">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="/condition">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="/service">What We Do</a></li>
                <li><a class="footer-link" href="/faq">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="https://twitter.com/Foodify_Esith?t=1eOrBgUuIl-Gy5iB8UjWgg&s=09">Twitter</a></li>
                <li><a class="footer-link" href="https://instagram.com/foodify_esith?igshid=Yzg5MTU1MDY=">Instagram</a></li>
                <li><a class="footer-link" href="https://www.facebook.com/profile.php?id=100090363933122&mibextid=ZbWKwL">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #9055A2 !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2023 All rights reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by FoodiFy Company</p>
              </div>
            </div>
          </div>
        </div>
      </footer>