{% extends 'base.html' %}
{% load static %}

    {% block content %}
     <!-- About Start -->
     
     <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="media/product/logo.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="mb-4">We are a company that delivers healthy food options in the form of nutritious bars, healthy smoothies, and healthy shakers. Our focus is on providing convenient, nutritious options for people on-the-go or looking to improve their overall health and wellness through their diet. We source high-quality ingredients and carefully craft our products to ensure they are not only delicious but also packed with essential nutrients to support a healthy lifestyle. Our website would likely include information about our products, their nutritional value, and how to order them for delivery.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}